<div class ='money'>
	<div class="text-center">
		<div class="well">
			<% if flash[:errors] %>
				<% flash[:errors].each do |f| %>
					<%= f %>
				<% end %>
			<% end %>
			<%= form_for @user, url: login_path do |f| %>

			  <%= f.text_field :username, placeholder: "username" %>
			  <br>
			  <%= f.password_field :password, placeholder: "password" %>
			  <br>
			 
			  <%= f.submit value="Log in!", :class => "btn btn-primary"%>

			<% end %>
		</div>
	</div>
</div>
