<%= form_for @expense_category, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :category_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                expense_categories_path, :class => 'btn' %>
  </div>
<% end %>
