<h3 class="text-center">Welcome, <%= @user.first_name %>!</h3>
<br>
  <div class="box expense text-center">
    <h4><%= link_to "Expenses", expense_items_path %></h4>
    <hr>
  </div>
  <div class="box income text-center">
    <h4><%= link_to "Income", income_items_path %></h4>
    <hr>
  </div>
  <div class="box overview text-center">
    <h5>Net Overview</h5>
    <hr>
  </div>
</div>
<div style="height:200px">&nbsp;</div>
<div style="margin-left:180px">
  <%= form_tag @path, method: :get do %>
    <%= text_field_tag :start_date, nil, :placeholder => "start date: YYYY-MM-DD", :width => "100" %> <br>
    <%= text_field_tag :end_date, nil, :placeholder => "end date: YYYY-MM-DD", :width => "100" %> <br>
    <%= submit_tag "Show", class: 'btn' %><div class="box-container text-center">
    <% end %>
</div>
