<div class="text-center">
  <div class="box expense text-center">
    <h4><%= link_to "Expenses", expense_items_path %></h4>
    <hr>
  </div>
  <div class="box income text-center">
    <h4><%= link_to "Income", income_items_path %></h4>
    <hr>
  </div>
  <div class="box overview text-center">
    <h4><%= link_to "Overview", income_items_path %></h4>
    <hr>
  </div>
</div>
<div style="height:35px">&nbsp;</div>
<div class="text-center">
  <span>Change scope:</span>
  <%= form_tag @path, method: :get do %>
    <%= text_field_tag :start_date, nil, :placeholder => "start date: YYYY-MM-DD", :width => "100" %>
    <%= text_field_tag :end_date, nil, :placeholder => "end date: YYYY-MM-DD", :width => "100" %>
    <%= submit_tag "Show", class: 'btn btn-mini' %><div class="box-container text-center">
    <% end %>
</div>
