<%= form_for @income_item, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => 'date_select', :placeholder => "YYYY-MM-DD" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :item, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :item, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :income_category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :income_category_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :income_method_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :income_method_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comment, :class => 'text_field' %>
    </div>
  </div>
    <div class="controls">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                income_items_path, :class => 'btn' %>
  </div>
<% end %>
